<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{ $t "contact_admin_subject" }}</title>
  <link rel="stylesheet" href="/emails.css">

  <!-- DEBUG -->
  <link rel="stylesheet" href="../assets/emails.css">
  <!-- END DEBUG -->
</head>

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
  <center>
    <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
      <tr>
        <td align="center" valign="top" id="bodyCell">
          <!-- BEGIN TEMPLATE // -->
          <table border="0" cellpadding="0" cellspacing="0" id="templateContainer">
            <tr>
              <td align="center" valign="top">
                <!-- BEGIN PREHEADER // -->
                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templatePreheader">
                  <tr>
                    <td valign="top" class="preheaderContent"
                      style="padding-top:10px; padding-right:20px; padding-bottom:10px; padding-left:20px;">

                      {{ $t "contact_admin_teaser" }}
                    </td>
                  </tr>
                </table>
                <!-- // END PREHEADER -->
              </td>
            </tr>
            <tr>
              <td align="center" valign="top">
                <!-- BEGIN HEADER // -->
                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
                  <tr>
                    <td valign="top" class="headerContent">
                      <a href="{{ site_url }}" title="Wilder Journal by Platoniq">
                        <img src="{{ assets.logo }}" alt="Wilder Journal by Platoniq">
                        <!--
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 239.48 58.31"
                        alt="Wilder Journal by Platoniq" height="80" class="logo">
                        <path class="cls-1"
                          d="M157.71 45a3.48 3.48 0 0 1 2.95 1.3l.13.19v-1.21h2.64v13h-2.78v-4.6a3.71 3.71 0 0 1-3.19 1.47c-1.87 0-4.3-1.29-4.3-5 0-2.63 1.47-5.15 4.55-5.15Zm-26.38-.71c3.2 0 5.26 2.19 5.26 5.53s-2.06 5.52-5.26 5.52-5.25-2.19-5.25-5.52 2.06-5.51 5.25-5.51Zm-17.24 0c2 0 4.32.44 4.45 2.77v5.66a6.14 6.14 0 0 0 .3 2.23l.05.1h-2.83a4.29 4.29 0 0 1-.19-1 4.6 4.6 0 0 1-3.42 1.3c-1.93 0-3.46-1-3.46-3.15 0-2.37 1.73-2.94 3.46-3.18s3.3-.2 3.3-1.38-.83-1.42-1.81-1.42a1.6 1.6 0 0 0-1.83 1.41v.17h-2.79c.15-2.68 2.49-3.49 4.77-3.49Zm9.54-2.86v3.14h2v1.93h-2v5.19c0 1 .24 1.21 1.18 1.21a4.73 4.73 0 0 0 .65 0h.21v2.25a10.49 10.49 0 0 1-1.63.1c-1.65 0-3.1-.37-3.19-2.29v-6.44h-1.69v-1.93h1.69v-3.14Zm28.06 3.14v10.5h-2.79V44.59Zm-8.09-.28c2.89 0 3.67 1.63 3.71 4.11v6.65h-2.79v-5.9c0-1.72-.49-2.57-1.78-2.57-1.46 0-2.12.81-2.16 2.77v5.72h-2.79V44.59h2.65v1.46h.06a3.57 3.57 0 0 1 3.1-1.74Zm-35.75-3.69v14.47h-2.79V40.6Zm-8.74 0c3.49 0 4.85 2.29 4.85 4.64a4.37 4.37 0 0 1-4.59 4.64h-3.5v5.19h-3.09V40.6Zm16.65 9.34a5.34 5.34 0 0 1-2.32.61c-.86.18-1.65.49-1.65 1.54s.8 1.34 1.71 1.34a2.12 2.12 0 0 0 2.26-2.43Zm15.57-3.46c-1.89 0-2.46 1.68-2.46 3.36s.57 3.35 2.46 3.35 2.47-1.69 2.47-3.35-.57-3.36-2.47-3.36Zm27.09.54c-1.81 0-2.47 1.53-2.47 3.09s.58 3.08 2.41 3.08 2.43-1.46 2.43-3-.63-3.19-2.37-3.19Zm-73-6.08L87.15 45l1.7-4.05h1l-3.35 7.76h-1l1.13-2.61-2.23-5.16Zm12.81 2.13h-2.36v4.34h2.39c1.44 0 2.71-.33 2.71-2.17s-1.27-2.17-2.71-2.17Zm-17.81-4.69v3.16l.24-.26.65-.43h1l1.11.54.73 1 .23.8v1.34l-.23.83-.73 1-1.1.64h-1l-.64-.25-.3-.2v.36h-.89v-8.53Zm1.72 3.4h-.71l-.7.52-.31.48v2.56l.22.29.41.29.44.14h.69l.63-.36.52-.72.13-.53v-1.09l-.13-.51-.52-.74Zm69.55-1.18V43h-2.79v-2.4ZM223 9.05l2.76.7L229 12l1.16 2.89v11.73l1.73 2.52-3.55 2.56-1.8-2.7-.5.53-3.79 1.95h-2.64l-2.8-.87-2-1.2-2.42-3.41v-2.56l.62-2.86 3.09-3.14 4.05-1h2.72l2.72.91.16.12v-1.8l-.33-.83-1.4-.95-1.81-.46h-2.64l-1.36.5-1.12.74-1.15 1.12-3.05-3.18 1.65-1.53 1.85-1.2 2.77-.83Zm-95.5-7.27v21.66l-1 3.88-3 3-2.89 1.16h-3.01l-2.89-1.16-3.09-3-1-4.26 4.38-1.19.66 3.1 1.61 1.69 1.11.37h1.4l1-.41 1.7-1.7.53-2.23V1.78ZM72.71 0v31.17h-4.37V30l-2.51 1.5H62l-4.29-2-2.81-3.79-.91-3v-4.77l.91-3.1 2.76-3.72 4.21-2.07h3.63L68 10l.33.25V0Zm15.66 9.05 4.21 2.07 2.72 3.72 1 2.85v5H81.24l.41 1 1.73 2.44 2.15 1h2.1l2.47-.66 2.52-1.53 2.31 3.56-3.18 2.11-3.63.91h-3.46l-4.21-2.07-2.76-3.72-.86-3v-4.79l.86-3.1 2.76-3.72 4.21-2.07Zm69.63.33v16l.95 1.28 2 .54h1.9l2.55-1.74 1-1.36V9.38h4.42v21.79h-4.38v-1.33l-2.84 1.66h-3.3l-3.92-1-2.76-3.59V9.38Zm-15-.33 4.2 2.07 2.19 3.18.74 3.56v4.87l-.74 3.56-2.19 3.18-4.2 2h-4.37l-4.17-2-2.18-3.18-.79-3.56v-4.87l.79-3.56 2.18-3.18 4.17-2.07Zm59.47 0 3.84 1 2.6 3.51v17.61h-4.42v-16l-.78-1.12-2.06-.66h-2.19l-2.55 1.7-1 1.4v14.68h-4.42V9.38h4.42v1.33l2.84-1.66Zm37.06-9v31.12h-4.42V0Zm-53.18 9 2.52.7-1.08 4.25-2.1-.58h-1.4l-1.9.91L181 16l-.83 1.78v13.39h-4.41V9.38h4.41V11l.5-.49 2.89-1.41ZM4.62 1.78 9.77 22.4 15.75 3h3.3L25 22.4l5.19-20.62h4.61l-7.5 29.39h-4l-5.86-19-5.85 19h-4L0 1.78Zm105.6 7.27 2.51.7-1.07 4.25-2.1-.58h-1.4l-1.9.91-1.44 1.67-.82 1.73v13.44h-4.42V9.38H104V11l.5-.49 2.88-1.41Zm-68.95.33v21.79h-4.41V9.38ZM50.41 0v31.17H46V0Zm91.76 13.43h-2.85l-1.94 1-1 1.44-.49 2.44v3.8l.49 2.57 1 1.36 2.1 1.08h2.72l2.15-1.08.91-1.4.53-2.53v-3.8l-.53-2.4-1-1.48ZM65 13.39h-2.39l-2.06 1.16-1.74 2.36-.41 1.57v3.72l.41 1.44 1.7 2.4 2.26 1.07H65l2.27-1.57 1-1.48v-8.52l-.66-.83-1.32-.82Zm157.29 7.4h-1.61l-2.23.62-1.32 1.36-.28 1.08v.83l1 1.48.74.42 1.61.53h1.15l2.68-1 1.4-1.49.33-.91v-1.18l-.66-.71-.94-.45Zm-134.7-7.36h-2.23l-2 1.08-1.77 2.4-.29 1.36h10.54L91.38 17l-1.69-2.36ZM42 0v6h-5.85V0Z"
                          data-name="logo/wilder-journal--trz" />
                      </svg>
                      -->
                      </a>
                    </td>
                  </tr>
                </table>
                <!-- // END HEADER -->
              </td>
            </tr>
            <tr>
              <td align="center" valign="top">
                <!-- BEGIN BODY // -->
                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
                  <tr>
                    <td valign="top" class="bodyContent">
                      <h1>{{ $t "contact_admin_title" name=payload.name }}</h1>
                      <p>{{ $t "contact_admin_content_1" }}</p>
                      <p>{{ $t "contact_admin_content_2" }}</p>

                      <p class="userMessage">{{ payload.message }}</p>

                      <p>{{ $t "contact_admin_content_3" }}</p>

                      <a
                        href='mailto:{{ payload.email }}?subject={{ $t "contact_admin_mailto_subject" name=payload.name }}&body={{ $t "contact_admin_mailto_body" name=payload.name }}'>
                        {{ payload.email }}
                      </a>
                    </td>
                  </tr>
                </table>
                <!-- // END BODY -->
              </td>
            </tr>
            <tr>
              <td align="center" valign="top">
                <!-- BEGIN FOOTER // -->
                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter">
                  <tr>
                    <td valign="top" class="footerContent social">
                      <a href="{{ contact.twitter_url }}" class="social-link">
                        <img src="{{ assets.twitter }}" class="icon icon-twitter">
                        <!--
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.002 512.002" xml:space="preserve"
                          class="icon icon-twitter">
                          <path
                            d="M500.398 94.784a194.219 194.219 0 0 1-24.763 9.023 109.468 109.468 0 0 0 22.287-39.193 8.258 8.258 0 0 0-12.078-9.619c-17.945 10.643-37.305 18.292-57.605 22.764-20.449-19.981-48.222-31.353-76.934-31.353-60.606 0-109.913 49.306-109.913 109.91 0 4.773.302 9.52.9 14.201-75.206-6.603-145.124-43.568-193.136-102.463a8.259 8.259 0 0 0-13.537 1.061c-9.738 16.709-14.886 35.82-14.886 55.265 0 26.484 9.455 51.611 26.158 71.246a93.118 93.118 0 0 1-14.711-6.568 8.26 8.26 0 0 0-12.267 7.03c-.012.487-.012.974-.012 1.468 0 39.531 21.276 75.122 53.805 94.52a94.762 94.762 0 0 1-8.362-1.214 8.254 8.254 0 0 0-7.731 2.638 8.25 8.25 0 0 0-1.681 7.994c12.04 37.591 43.039 65.24 80.514 73.67-31.082 19.468-66.626 29.665-103.939 29.665-7.786 0-15.616-.457-23.279-1.364A8.258 8.258 0 0 0 3.8 418.617c47.935 30.735 103.361 46.98 160.284 46.98 111.903 0 181.907-52.769 220.926-97.037 48.657-55.199 76.562-128.261 76.562-200.451 0-3.016-.046-6.061-.139-9.097 19.197-14.463 35.724-31.967 49.173-52.085a8.256 8.256 0 0 0-.545-9.906 8.245 8.245 0 0 0-9.663-2.237z"
                            fill="currentColor" />
                        </svg>
                        -->
                        {{ $t "global_twitter" }}
                      </a>

                      &nbsp;&nbsp;&nbsp;

                      <a href="{{ contact.instagram_url}}" class="social-link">
                        <img src="{{ assets.instagram }}" class="icon icon-instagram">
                        <!--
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="icon icon-ig"
                          viewBox="0 0 16 16">
                          <path
                            d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z" />
                        </svg>
                        -->
                        {{ $t "global_instagram" }}
                      </a>

                      &nbsp;&nbsp;&nbsp;

                      <a href="mailto:{{ contact.email_address }}" class="social-link">
                        <img src="{{ assets.email }}" class="icon icon-email">
                        <!--
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xml:space="preserve"
                          class="icon icon-mail">
                          <path
                            d="M425.367 72.125H86.633C38.752 72.125 0 111.131 0 158.759v194.482c0 47.839 38.98 86.633 86.633 86.633h338.734c47.741 0 86.633-38.888 86.633-86.633V158.759c0-47.69-38.813-86.634-86.633-86.634zm0 38.286a48.056 48.056 0 0 1 26.556 7.976l-184.231 120.58a21.35 21.35 0 0 1-23.386 0l-184.23-120.58c16.656-10.993-1.84-7.976 365.291-7.976zM39.03 150.368l126.776 82.975-127.52 116.879c0-208.053-.319-193.808.744-199.854zm386.337 251.221H86.633c-12.865 0-24.563-5.061-33.235-13.284l145.463-133.326c59.59 39.003 66.629 31.186 114.278 0l145.463 133.326c-8.671 8.223-20.37 13.284-33.235 13.284zm48.349-51.367-127.52-116.879 126.776-82.975c1.063 6.046.744-8.162.744 199.854z"
                            fill="currentColor" />
                        </svg>
                        -->
                        {{ contact.email_address }}
                      </a>
                    </td>
                  </tr>

                  <tr>
                    <td valign="top" style="padding-top:0;" class="footerContent">
                      Wilder Journal by Platoniq <a href="https://creativecommons.org/licenses/by-sa/4.0/">cc-by-sa</a>
                    </td>
                  </tr>
                </table>
                <!-- // END FOOTER -->
              </td>
            </tr>
          </table>
          <!-- // END TEMPLATE -->
        </td>
      </tr>
    </table>
  </center>
</body>

</html>